.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/*Навигация в шапке*/

.main-navigation {
  width: 1200px;
  font-weight: 700;
  position: relative;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 56px;
  padding: 15px 72px;
}
.site-navigation li {
  width: 240px;
}
.site-navigation li:nth-child(4n+2) {
  margin-right: auto;
}
.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
}
.logo-sedona {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 10;
}
.logo-sedona:hover,
.logo-sedona:focus {
  opacity: 0.85;
}
.logo-sedona:active {
  opacity: 0.6;
}
.site-navigation a {
  color: black;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a.active {
  color: #766357;
}


/* Причины */

.welcome-background {
  width: 1200px;
  height: 508px;
  text-align: center;
  background-color: #B0E0E6;
  background-image: url("../img/background-photo.jpg");
  background-position: 0% 28%;
  position: relative;
}
.welcome-background::after {
  position: absolute;
  content: "";
  background-image: url("../img/intro-mask.svg");
  width: 1200px;
  height: 60px;
  left: 0px;
  bottom: -3px;
}
.welcome-background img {
  margin-top: 76px;
}
.box-title {
  text-align: center;
  margin-top: 59px;
  margin-bottom: 51px;
}
.box-title .title {
  font-size: 21px;
  font-weight: 700;
  width: 440px;
  margin: 0 auto;
}
.box-title .subtitle {
  color: #333333;
  width: 550px;
  margin: 0 auto;
  margin-top: 27px;
}

.feature {
  display:flex;
  flex-wrap: wrap;
  text-align: center;
}
.feature-blue,
.feature-grey {
  width: 400px;
  min-height: 256px;
}
.features h3 {
  font-size: 21px;
  font-weight: 700;
  width: 160px;
  margin: 0 auto;
  line-height: 21px;
}
.feature-white .feature {
  padding: 0;
  margin: 0;
}
.feature-white .feature-item {
  list-style: none;
  text-align: center;
  width: 400px;
}
.feature-white p,
.feature-grey p {
  color: #333333;
}
.feature-blue {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 47px 48px 60px 48px;
}
.feature-white p,
.feature-grey p,
.feature-blue p {
  line-height: 21px;
  margin-top: 22px;
  margin-bottom: 0;
}
.feature-grey {
  background-color: #eeeeee;
  padding: 47px 69px 60px 69px;
  z-index: 100;
}
.feature-white li {
  position: relative;
  padding: 162px 55px 83px 55px;
}
.feature-white li::before {
    position: absolute;
    content: "";
    left: 50%;
}
.feature-white li:nth-child(3n+1)::before {
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
  margin-left: -37px;
}
.feature-white li:nth-child(3n+2)::before {
  top: 62px;
  width: 74px;
  height: 70px;
  background-image: url(../img/icon-3.svg);
  margin-left: -37px;
}
.feature-white li:nth-child(3n+3)::before {
  top: 56px;
  width: 64px;
  height: 76px;
  background-image: url(../img/icon-2.svg);
  margin-left: -32px;
}


/* Поиск гостиницы */

.hotel-search {
  width: 1200px;
  text-align: center;
}
.hotel-search .title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 300px;
}
.hotel-search .subtitle {
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 47px;
  width: 440px;
}
.search-containter {
  position: relative;
}
.hotel-search .search-button {
  background-color: #766357;
  width: 568px;
  min-height: 86px;
  padding: 31px 10px;
  margin: 0 auto;
  color: white;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.hotel-search .search-button:hover,
.hotel-search .search-button:focus {
  background-color:#604e43;
}
.hotel-search .search-button:active {
  background-color:#503e33;
  color: rgba(255, 255, 255, 0.3);
}
.white-block {
  padding-top: 50px;
  position: relative;
  z-index: 100;
  background-color: white;
}
@-webkit-keyframes show {
  0% {-webkit-transform: translateY(-100%);transform: translateY(-100%);}
  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}
@keyframes show {
  0% {-webkit-transform: translateY(-100%);transform: translateY(-100%);}
  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}
.search-main {
  position: relative;
}
.search-main .search-form {
  position: absolute;
  top:0;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  padding: 55px;
  background-color: #fff;
  z-index: 10;
}
.modal-show {
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.modal-close {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.arrival,
.departure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
.search-form input,
.search-form label {
  text-transform: uppercase;
  font-weight: 700;
}
.arrival-date,
.departure-date {
  display: flex;
  flex-wrap: wrap;
  width: 346px;
  height: 38px;
}
.search-form input,
.search-form button {
  background-color: #f2f2f2;
  border: none;
}
.arrival input,
.departure input {
  width: 308px;
  height: 38px;
  padding-left: 11px;
  border: 2px solid #f2f2f2;
}
.search-form .date-button,
.search-form .reduce,
.search-form .add {
  width: 38px;
  height: 38px;
  padding: 3px 0 0 0;
  cursor: pointer;
}
.arrival svg,
.departure svg {
  fill:#a9a9a9;
}
.date-button:hover path,
.date-button:focus path {
  fill: black;
}
.date-button:active path {
  fill: #81b3d2;
}
.search-form input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.search-form input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}
.search-form .count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
}
.search-form input::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.search-form input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.search-form input::placeholder {
  color: #000;
  opacity: 1;
}
.adult,
.child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 226px;
  margin-bottom: 29px;
}
.child {
  width: 179px;
}
.adult-count,
.child-count {
  display: flex;
  flex-wrap: wrap;
  width: 114px;
}
.adult-count input,
.child-count input {
  width: 38px;
  height: 38px;
  text-align: center;
}
.count button {
  position: relative;
  padding: 0;
}
.count button::before,
.count button::after {
  position: absolute;
  content: "";
  background-color: #aaabaa;
}
.count button.reduce::before {
  width: 12px;
  height: 3px;
  top: 18px;
  left: 13px;
}
.count button.add::before {
  width: 11px;
  height: 3px;
  top: 18px;
  left: 14px;
}
.count button.add::after {
  width: 3px;
  height: 11px;
  top: 14px;
  left: 18px;
}
.count button:focus::before,
.count button:focus::after,
.count button:hover::before,
.count button:hover::after {
  background-color: #000;
}
.count button:active::before,
.count button:active::after {
  background-color: #82b5d3;
}
.search-form .search-button-submit {
  width: 458px;
  min-height: 58px;
  padding: 17px 15px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
} 
.search-form .search-button-submit:hover,
.search-form .search-button-submit:focus {
  background-color: #669ec0;
}
.search-form .search-button-submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  width: 1200px;
  height: 593px;
  background-color: cadetblue;
  background-image: url("../img/map.jpg");
}

/* Фильтры */
.filters {
  width: 1200px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 72px 33px;
  background-color: #4682B4;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  line-height: 21px;
}
.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.filter-form .filter-type {
  margin-left: 118px;
  margin-right: auto;
}
.filter-form .cost {
  width: 314px;
}
.filter-form legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 24px;
}
.filter ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter li {
  padding-left: 40px;
  margin-bottom: 25px;
}
.filter li:last-child{
  margin-bottom: 0;
}
.filter label {
  position: relative;
}
.filter label::before,
.filter input:checked + label::before,
.filter input:disabled + label::before,
.filter input:checked:disabled + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  cursor: pointer;
}
.filter input:checked + label::before {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}
.filter input:disabled + label::before {
  background-image: url(../img/checkbox-off-dis.svg);
  cursor: auto;
}
.filter input:checked:disabled + label::before {
  width: 27px;
  background-image: url(../img/checkbox-on-dis.svg);
  cursor: auto;
}
.filter input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -3px;
}
.price-controls {
  position: relative;
  width: 318px;
  height: 36px;
  border: 2px solid white;
  border-radius: 2px;
  margin-top: -13px;
  margin-bottom: 20px;
}
.price-controls::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: white;
  transform: translate(-50%, -50%);
}
.price-controls label {
  width: 157px;
  padding-left: 65px;
  line-height: 30px;
}
.price-controls input {
  width: 58px;
  height: 32px;
  margin: 0;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}
.price-controls input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.price-controls input::placeholder {
  color: #fff;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-controls .range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .range-toggle.min {
  left: 0;
}
.range-controls .range-toggle.max {
  left: 80%;
}
.range-controls .range-toggle:hover {
  box-shadow: 0 0 0 1px #ffffff;
}
.filter-form .show {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  left: -6px;
}
.filter-form .show:hover,
.filter-form .show:focus {
  background-color: #ffffff;
  color: #000000;
}

/* Сотрировка */

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 72px 10px;
  border-bottom: 1px solid lightgrey;
}
.sorting-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 900px;
}
.sorting .found {
  font-size: 21px;
  font-weight: 700;
}
.sorting .sorting-text {
  font-size: 12px;
  line-height: 18px;
  margin-left: 49px;
  margin-right: 40px;
}
.sorting .sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 615px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-right: 33px;
}
.sorting-list a.active {
  color: #81b3d2;
  border: none;
}
.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}
.sorting-list a:active {
  color: #000000;
  border: none;
}
.arrow-icon {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.arrow-icon li {
  margin-left: 12px;
}
.arrow-icon path {
  fill: #cacaca;
}
.icon-dir.active path {
  fill: #81b3d2;
}
.icon-dir:hover path,
.icon-dir:focus path {
  fill: #1e191a;
}
.icon-dir:active path {
  fill: #82b5d3;
}

/* Гостиницы */

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotel-item {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 72px 30px;
  width: 1200px;
  border-bottom: 1px solid #e6e4e6;
}
.hotel-list .overview {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  margin-left: 30px;
}
.rating-container {
  width: 110px;
  margin-left: auto;
}
.hotel-list .type {
  width: 110px;
  margin-right: 6px;
}
.hotel-list .cost {
  width: 142px;
}
.rating-stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 4px;
}
.rating-stars div{
  background-image: url(../img/star.svg);
  width: 18px;
  height: 17px;
  margin-left: 6px;
}
.hotel-list .name {
  color: black;
}
.hotel-list h3 {
  width: 258px;
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  margin-top:-6px;
}
.hotel-list .name:hover,
.hotel-list .name:focus {
  color: #81b3d2;
}
.hotel-list .name:active {
  color: rgba(0, 0, 0, 0.3);
}
.hotel-item p {
  color: #333333;
  line-height: 21px;
  margin-top: 7px;
}
.hotel-item .rating {
  color: #666666;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 0;
  padding-top: 3px;
}
.hotel-list .details {
  display: block;
  width: 110px;
  min-height: 27px;
  background-color: #81b3d2;
  text-align: center;
  margin-right: 6px;
}
.hotel-list .details:hover,
.hotel-list .details:focus {
  background-color: #669ec0;
}
.hotel-list .details:active {
  background-color: #5496bd;
}
.hotel-list .details,
.hotel-list .details:focus,
.hotel-list .details:hover,
.hotel-list .reservation,
.hotel-list .reservation:focus,
.hotel-list .reservation:hover {
  color: #ffffff;
  font-weight: 700;
}
.hotel-list .details:active,
.hotel-list .reservation:active {
  color: rgba(255, 255, 255, 0.3);
}
.hotel-list .reservation {
  display: block;
  width: 142px;
  min-height: 27px;
  background-color: #766357;
  text-align: center;
}
.hotel-list .reservation:hover,
.hotel-list .reservation:focus {
  background-color: #604e43;
}
.hotel-list .reservation:active {
  background-color: #503e33;
}

/* Подвал сайта */

.main-footer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 30px 0px 32px 0px;
}
.main-footer.main-page {
  position: absolute;
  left: 0;
  bottom:0;
  background-color: rgba(255,255,255,0.9);
}
.main-footer .footer-item {
  width: 400px;
  text-align: center;
}
.main-footer .contacts {
  width: 272px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  margin-left: 130px;
}
.main-footer.main-page .contacts {
  width: 282px;
  margin-left: 122px;
}
.contacts p {
  margin: 0px;
}
.contacts p:first-child {
  margin-bottom: 6px;
}

.contacts a {
  color: black;
}
.contacts a:hover,
.contacts a:focus {
  color: #81b3d2;
}
.contacts a:active {
  color: #bdbbbc;
}
.main-footer .social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-list li {
  margin: 3px 6px 3px 0;
}
.social-list .social-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social-list .social-item:focus,
.social-list .social-item:hover {
  background-color: #669ec0;
}
.social-list .social-item:active {
  background-color: #5496bd;
}
.social-item:active svg {
  opacity: 0.3;
}
.html-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.html-a a {
  height: 41px;
  margin-left: 8px;
}
.html-a path {
  fill: #000;
}
.html-a:hover path,
.html-a:focus path {
  fill: #81b3d2;
}
.html-a:active path {
  fill: #bdbbbc;
}